<a href="https://colab.research.google.com/github/905902029/-a-/blob/master/10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
I = iter([1,2,3,4,5])
print(next(I))
print(next(I))
print(next(I))
print(next(I))
print(next(I))

1
2
3
4
5

In [3]:

range(10)

range(0, 10)

In [4]:
iter(range(10))

In [5]:

L = [1,2,3,4,5]
for index, value in enumerate(L):
    print(index, value)

0 1
1 2
2 3
3 4
4 5

In [6]:
for i in range(len(L)):
    print(i, L[i])

0 1
1 2
2 3
3 4
4 5

In [7]:
L1 = [1,2,3,4,5]
L2 = [6,7,8,9,10]

for val_1, val_2 in zip(L1,L2):
    print(val_1,val_2)

1 6
2 7
3 8
4 9
5 10

In [8]:
print(*range(10))

0 1 2 3 4 5 6 7 8 9

In [9]:
from itertools import permutations
p = permutations(range(3))
print(*p)

(0, 1, 2) (0, 2, 1) (1, 0, 2) (1, 2, 0) (2, 0, 1) (2, 1, 0)

In [10]:
names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
age = [16, 20, 24, 18, 30]
people = dict(zip(names, age))
print(people)

{'Barney': 16, 'Robin': 20, 'Ted': 24, 'Lily': 18, 'Marshall': 30}

In [11]:
cast = (("Barney", 16), ("Robin", 20), ("Ted", 24), ("Lily", 18), ("Marshall", 30))

# define names and heights here
names, age = zip(*cast)

print(names)
print(age)

('Barney', 'Robin', 'Ted', 'Lily', 'Marshall')
(16, 20, 24, 18, 30)

In [12]:
numbers = []
for number in range(1,200):
    if number % 2 == 0:
        numbers.append(number)
print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [13]:
numbers = [number for number in range(1,200) if number % 2 == 0]
print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [14]:
L = [(i,j) for i in range(2) for j in range(2)]
print(L)

[(0, 0), (0, 1), (1, 0), (1, 1)]

In [15]:

squares = [n ** 2 for n in range(11)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
scores = {
             "Tanaka": 20,
             "Kimura": 60,
             "Li": 89,
             "Kim": 78,
             "Beth Smith": 98
          }

passed = [name for name, score in scores.items() if score >= 60]
print(passed)

['Kimura', 'Li', 'Kim', 'Beth Smith']

In [17]:

numbers = [n * 4 for n in range(1,11)]
print(numbers)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [18]:

numbers = (n * 4 for n in range(1,11))
print(numbers)
print (list(numbers))

<generator object <genexpr> at 0x7f2f4d4df780>
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [19]:

G = (n for n in range(1,21))
for n in G:
    print (n, end=' ')
    if n >= 10:
        break

print("\nいったん止める")

for n in G:
    print(n, end=' ')

1 2 3 4 5 6 7 8 9 10
いったん止める
11 12 13 14 15 16 17 18 19 20

In [20]:
numbers_1 = (n * 4 for n in range(1,11))

def gen():
    for n in range(1,11):
        yield n * 4

numbers_2 = gen()

a = list(numbers_1)
b = list(numbers_2)

print(a)
print(b)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [21]:
L1 = [n * 4 for n in range(1,11)]

L2 = []
for n in range(1,11):
    L2.append(n * 4)

print(L1)
print(L2)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [22]:
def gen_primes(N):
    primes = set()
    for n in range(2, N):
        if all(n % p > 0 for p in primes):
            primes.add(n)
            yield n

print(list(gen_primes(100)))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [23]:
primes = []
for possiblePrime in range(2, 101):    
    # Assume number is prime until shown it is not. 
    isPrime = True
    for num in range(2, possiblePrime):
        if possiblePrime % num == 0:
            isPrime = False      
    if isPrime:
        primes.append(possiblePrime)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]