<a href="https://colab.research.google.com/github/905902029/-a-/blob/master/9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

def total_numbers_1(a, b):
    print(a+b)

def total_numbers_2(a,b):
    return (a+b)

In [2]:

total = total_numbers_1(3,7)
print(total)
add_again = total_numbers_1(total, 3)
print(add_again)

10
None

TypeError: ignored

In [3]:

total = total_numbers_2(3,7)
print(total)
add_again = total_numbers_2(total, 3)
print(add_again)

10
13

In [7]:

def how_many_hours(minutes):
    hours = minutes // 60
    remainder = minutes % 60
    return "{} 時間 {} 分".format(hours, remainder)

print(how_many_hours(215))

3 時間 35 分

In [8]:
multiply = lambda x, y: x * y
multiply (2,3)

6

In [9]:
def multiply(x,y):
    return x*y
print(multiply(2,3))

6

In [10]:
data = [{'動物': 'うま', '年齢': 3},
        {'動物': 'ねこ', '年齢': 1},
        {'動物': 'きりん', '年齢': 5}]

sorted(data, key=lambda item: item['動物'])

[{'動物': 'うま', '年齢': 3}, {'動物': 'きりん', '年齢': 5}, {'動物': 'ねこ', '年齢': 1}]

In [11]:
class Animal:
    def __init__(self, animal_name, amounts):
        self.animal_name = animal_name
        self.amounts = amounts
        
a1 = Animal("ねこ", 4)

print(a1.animal_name)
print(a1.amounts)

ねこ
4

In [12]:
class Animal:
    def __init__(self, animal_name, amounts):
        self.animal_name = animal_name
        self.amounts = amounts
    
    def myfunc(self):
        return ("この動物園では、{}が{}匹います。".format(self.animal_name, self.amounts))
        
a1 = Animal("ねこ", 4)
print(a1.myfunc())

この動物園では、ねこが4匹います。

In [13]:
class Animal:
    def __init__(anything, animal_name, amounts):
        anything.animal_name = animal_name
        anything.amounts = amounts
    
    def myfunc(abc):
        return("この動物園では、{}が{}匹います。".format(abc.animal_name, abc.amounts))
        
a1 = Animal("ねこ", 4)
print(a1.myfunc())

この動物園では、ねこが4匹います。

In [14]:
class Add:
  def __init__(self,a,b):
    self.a = a
    self.b = b
  def plus(self):
    return self.a+self.b

abc = Add(1,2)
abc.plus()

3